language: python

python:
    - 2.6
    - 2.7
    - 3.3
    - 3.4

env:
    global:
        # The following versions are the 'default' for tests, unless
        # overidden underneath. They are defined here in order to save having
        # to repeat them for all configurations.
        - CONDA_INSTALL='conda install --yes'
        - PIP_INSTALL='pip install'
        - PYTEST_ARGS='--cov astrodendro'
        - CONDA_BASE='pip setuptools h5py pytest matplotlib cython'
        - PIP_BASE='pytest-cov coveralls mock'
    matrix:
        - NP_VER=1.9 ASTRO_VER=0.4
        - NP_VER=1.8 ASTRO_VER=0.3
        - NP_VER=1.9 ASTRO_VER=dev

matrix:
    include:
        - python: 2.7
          env: NP_VER=1.7 ASTRO_VER=0.3
        - python: 2.7
          env: NP_VER=1.6 ASTRO_VER=0.3

before_install:

    - export PYTHONIOENCODING=UTF8
    - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - ./miniconda.sh -b
    - export PATH=/home/travis/miniconda/bin:$PATH
    - conda update --yes conda

    # CONDA
    - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
    - source activate test

    # DEPENDENCIES
    - $CONDA_INSTALL $CONDA_BASE numpy=$NP_VER
    - $PIP_INSTALL $PIP_BASE
    - if [[ $ASTRO_VER == dev ]]; then pip install -e git+git://github.com/astropy/astropy.git#egg=astropy; else $CONDA_INSTALL astropy=$ASTRO_VER numpy=$NP_VER; fi

script:
    - py.test $PYTEST_ARGS astrodendro

after_success:
  - coveralls
