language: python

python:
    - 2.6
    - 2.7
    - 3.2
    # 3.3 cannot yet be tested due to incompatibility with h5py

env:
    # try all python versions with the latest stable Numpy
    - NUMPY_VERSION=1.7.1 SETUP_CMD='test'

matrix:
    include:
        # try alternate Numpy versions
        - python: 2.7
          env: NUMPY_VERSION=1.6.2 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.5.1 SETUP_CMD='test'
        - python: 3.2
          env: NUMPY_VERSION=1.6.2 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.7.1 SETUP_CMD='cov'

before_install:
   - sudo apt-get update -qq
   - sudo apt-get install -qq python-numpy
   - sudo apt-get install -qq libhdf5-serial-1.8.4 libhdf5-serial-dev

install:
   - export PYTHONIOENCODING=UTF8 # just in case
   - pip -q install --upgrade "numpy==$NUMPY_VERSION" --use-mirrors
   - pip -q install h5py
   - pip -q install astropy
   - pip -q install matplotlib
   - pip -q install wcsaxes
   - if [[ $SETUP_CMD == cov ]]; then pip install pytest -q --use-mirrors; fi
   - if [[ $SETUP_CMD == cov ]]; then pip install pytest-cov -q --use-mirrors; fi
   - if [[ $SETUP_CMD == cov ]]; then pip install coveralls -q --use-mirrors; fi

script:
   - if [[ $SETUP_CMD == test ]]; then python setup.py test ; fi
   - if [[ $SETUP_CMD == cov ]]; then py.test --cov astrodendro; fi

after_success:
  - if [[ $SETUP_CMD == cov ]]; then coveralls; fi
